# Glrx CODEOWNERS

# Assigns ownership (responsibility) for different parts of the project.

# ================================
# Core code
# ================================
/src/ @MiCkEyZzZ

# ================================
# CI/CD и GitHub
# ================================
/.github/ISSUE_TEMPLATE/ @MiCkEyZzZ
/.github/pull_request_template.md @MiCkEyZzZ

# ================================
# Documentation
# ================================
/docs/ @MiCkEyZzZ

# ================================
# Скрипты и утилиты
# ================================
/Makefile @MiCkEyZzZ

# ================================
# Root files (fallback)
# ================================
* @MiCkEyZzZ
