# Glrx CODEOWNERS

# Назначение владельца (ответственного) для разных частей проекта.

# ================================
# Основной код
# ================================
/src/ @MiCkEyZzZ

# ================================
# CI/CD и GitHub
# ================================
/.github/pull_request_template.md @MiCkEyZzZ

# ================================
# Документация
# ================================
/docs/ @MiCkEyZzZ

# ================================
# Скрипты и утилиты
# ================================
/Makefile @MiCkEyZzZ
