# macOS system files
.DS_Store

# Rust build artifacts
target/
dist
tmp
**/cargo-target
Cargo.lock

# Editor and IDE directories
.idea/
.vscode/
.zed/
.vs/
.trunk
*.iml
out/
.devcontainer/

# Other
ROADMAP.md
utils
asd.rs
sd.rs
observables
